{% extends "layout.html" %}
{% block title %}Organizers{% endblock %}
{% block content %}


<h6 style="font-size: 40px; text-align: center;">Active Organizers</h6>

<div class="table-responsive" style="background-color: rgb(100, 0, 0);">
	<table id="myTable" class = "table table-striped" style='margin-top: 5%; table-layout: auto; color: white; font-size: 20px;'>
		<tr>
			<th  onclick="sortTable(0)" style="cursor: pointer;">Name    
				<img src="../static/images/schedule/order.png" alt="..." style="widows: 15px; height: 15px; align-self: right;">
			</th>
			<th  onclick="sortTable(1)" style="cursor: pointer;">Mail    
				<img src="../static/images/schedule/order.png" alt="..." style="widows: 15px; height: 15px; align-self: right;">
			</th>
			<th onclick="sortTable(2)" style="cursor: pointer;">Address    
				<img src="../static/images/schedule/order.png" alt="..." style="widows: 15px; height: 15px; align-self: right;">
			</th>

		</tr>
		{% for item in organizers %}
		<tr>
			<td>{{item['name']}}</td>
			<td>{{item['mail']}}</td>
			<td>{{item['address']}}</td>
		</tr>
		{% endfor %}
	</table>
</div>

<script src="{{url_for('static', filename='js/sorttable.js')}}"></script>
{% endblock content %} 