{% extends "layout.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}



<div style="margin-left: 10px; margin-bottom: 60px;">

	<input type="text" id="myInput" onkeyup="search()" placeholder="Başlıklarda ara.." title="Type in a name" size="113px">
    </br></br>
	<button onclick="filtering_all()" id="myBtn" class="btn btn-primary">Tümü</button>
	<button onclick="filtering_senfoni()" id="myBtn" class="btn btn-primary">Senfoni</button>
	<button onclick="filtering_sinema()" id="myBtn" class="btn btn-primary">Sinema</button>
	<button onclick="filtering_tiyatro()" id="myBtn" class="btn btn-primary">Tiyatro</button>
	<button onclick="filtering_klasik()" id="myBtn" class="btn btn-primary">Klasik</button>
	<button onclick="filtering_konser()" id="myBtn" class="btn btn-primary">Konser</button>
	<select class="btn btn-primary" name="city" id="dropdown" onchange="filtering_city()" style="margin-left: 70px;">
		<option value="">Şehir seç</option>
		<option value="İstanbul">İstanbul</option>
		<option value="İzmir">İzmir</option>
		<option value="Ankara">Ankara</option>
		<option value="Bursa">Bursa</option>
	</select>
	</br></br>
	
	
	
		
</div>

<div id="myTable">
	{% for item in events %}
		<div class="speaker_box">
			<a href="{{ url_for('visitor.visitor_eventinfo_page',event_id=item['id']) }}">
				<div class="speaker_img">
					<img src="{{item['image']}}" alt="speaker name" >
				
					<div class="info_box">
						<h5 class="name">{{ item['name']}}</h5>
						<p class="type">{{item['type']}}</p>
						<p class="position" style="margin-top: -20px;">{{item['date']}}</p>
						<p class="city" style="margin-top: -20px;">{{item['city']}}</p>
					</div>
				</div>
			</a>	
		</div>	
{% endfor %}
<!--drp = document.getElementById("dropdown");
		filter = drp.options[drp.selectedIndex].value;-->
</div>


<script>
	function search() {
		var input, filter, table, tr, p, i, txtValue;
		input = document.getElementById("myInput");
		filter = input.value.toUpperCase();
		table = document.getElementById("myTable");
		tr = table.getElementsByClassName("speaker_box");
		for (i = 0; i < tr.length; i++) {
			p = tr[i].getElementsByClassName("name")[0];
			if (p) {
				txtValue = p.textContent || p.innerText;
				if (txtValue.toUpperCase().indexOf(filter) > -1) {
					tr[i].style.display = "";
				} else {
					tr[i].style.display = "none";
				}
			}       
		}
	}

	function filtering_senfoni() {
		var input, filter, table, tr, p, i, txtValue;
		input = document.getElementById("myInput");
		filter = "Senfoni";
		table = document.getElementById("myTable");
		tr = table.getElementsByClassName("speaker_box");
		for (i = 0; i < tr.length; i++) {
			p = tr[i].getElementsByClassName("type")[0];
			if (p) {
				txtValue = p.textContent || p.innerText;
				if (txtValue.indexOf(filter) > -1) {
					tr[i].style.display = "";
				} else {
					tr[i].style.display = "none";
				}
			}       
		}
	}
	function filtering_sinema() {
		var input, filter, table, tr, p, i, txtValue;
		input = document.getElementById("myInput");
		filter = "Sinema";
		table = document.getElementById("myTable");
		tr = table.getElementsByClassName("speaker_box");
		for (i = 0; i < tr.length; i++) {
			p = tr[i].getElementsByClassName("type")[0];
			if (p) {
				txtValue = p.textContent || p.innerText;
				if (txtValue.indexOf(filter) > -1) {
					tr[i].style.display = "";
				} else {
					tr[i].style.display = "none";
				}
			}       
		}
	}
	function filtering_tiyatro() {
		var input, filter, table, tr, p, i, txtValue;
		input = document.getElementById("myInput");
		filter = "Tiyatro";
		table = document.getElementById("myTable");
		tr = table.getElementsByClassName("speaker_box");
		for (i = 0; i < tr.length; i++) {
			p = tr[i].getElementsByClassName("type")[0];
			if (p) {
				txtValue = p.textContent || p.innerText;
				if (txtValue.indexOf(filter) > -1) {
					tr[i].style.display = "";
				} else {
					tr[i].style.display = "none";
				}
			}       
		}
	}
	function filtering_klasik() {
		var input, filter, table, tr, p, i, txtValue;
		input = document.getElementById("myInput");
		filter = "Klasik";
		table = document.getElementById("myTable");
		tr = table.getElementsByClassName("speaker_box");
		for (i = 0; i < tr.length; i++) {
			p = tr[i].getElementsByClassName("type")[0];
			if (p) {
				txtValue = p.textContent || p.innerText;
				if (txtValue.indexOf(filter) > -1) {
					tr[i].style.display = "";
				} else {
					tr[i].style.display = "none";
				}
			}       
		}
	}
	function filtering_konser() {
		var input, filter, table, tr, p, i, txtValue;
		input = document.getElementById("myInput");
		filter = "Konser";
		table = document.getElementById("myTable");
		tr = table.getElementsByClassName("speaker_box");
		for (i = 0; i < tr.length; i++) {
			p = tr[i].getElementsByClassName("type")[0];
			if (p) {
				txtValue = p.textContent || p.innerText;
				if (txtValue.indexOf(filter) > -1) {
					tr[i].style.display = "";
				} else {
					tr[i].style.display = "none";
				}
			}       
		}
	}
	function filtering_city() {
		var input, filter, table, tr, p, i, txtValue;
		input = document.getElementById("myInput");

		drp = document.getElementById("dropdown");
		filter = drp.options[drp.selectedIndex].value;

		table = document.getElementById("myTable");
		tr = table.getElementsByClassName("speaker_box");
		for (i = 0; i < tr.length; i++) {
			p = tr[i].getElementsByClassName("city")[0];
			if (p) {
				txtValue = p.textContent || p.innerText;
				if (txtValue.indexOf(filter) > -1) {
					tr[i].style.display = "";
				} else {
					tr[i].style.display = "none";
				}
			}       
		}
	}
	function filtering_all() {
		var input, filter, table, tr, p, i, txtValue;
		input = document.getElementById("myInput");
		filter = "";
		table = document.getElementById("myTable");
		tr = table.getElementsByClassName("speaker_box");
		for (i = 0; i < tr.length; i++) {
			p = tr[i].getElementsByClassName("position")[0];
			if (p) {
				txtValue = p.textContent || p.innerText;
				if (txtValue.toUpperCase().indexOf(filter) > -1) {
					tr[i].style.display = "";
				} else {
					tr[i].style.display = "none";
				}
			}       
		}
	}
</script>

{% endblock content %}