{% extends "layout.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

<h6 style="font-size: 40px; text-align: center;">Home Page</h6>




{% for item in competitions %}
	<div class="speaker_box">
			
		<div class="speaker_img">
			
			<img src="static/images/home/s1.png" alt="speaker name" >
			<div class="info_box">
				<h5 class="name">Patricia Stone</h5>
				<p class="position">CEO Company</p>
			</div>
			{% if session['member_id'] == 'admin' %}
			
				<form class="form-inline my-2 my-lg-2" style="margin-left: 200px;" >
					<a href="{{ url_for('admin.admin_edit_competition_page',id=item[0]) }}"
						class="btn btn-outline-dark my-2 my-sm-0 mr-3 text-uppercase">Edit</a>
				</form>
		
			{% endif %}	
		</div>
		
		
	</div>

{% endfor %}


{% endblock content %}