{% extends "layout.html" %}
{% block title %}Organizer Panel{% endblock %}
{% block content %}
<div class="content">
	<div class="container-fluid">
		<div class="row">
			<form class="form-inline my-2 my-lg-2">
				<a href="#"
					class="btn btn-outline-dark my-2 my-sm-0 mr-3 text-uppercase">List My Events</a>
			</form>
			<form class="form-inline my-2 my-lg-2">
				<a href="#"
					class="btn btn-outline-dark my-2 my-sm-0 mr-3 text-uppercase">Create New Event</a>
			</form>
			<form class="form-inline my-2 my-lg-2">
				<a href="#"
					class="btn btn-outline-dark my-2 my-sm-0 mr-3 text-uppercase">My Profile</a>
		</div>
		
	</div>
</div>
{% endblock content %}