{% extends "layout.html" %}
{% block title %}Organizer Panel{% endblock %}
{% block content %}
<div class="content">
	<div class="container-fluid">
		<div class="row">
			<form class="form-inline my-2 my-lg-2">
				<a href="#"
					class="btn btn-outline-dark my-2 my-sm-0 mr-3 text-uppercase">List Team Members</a>
			</form>
			<form class="form-inline my-2 my-lg-2">
				<a href="#"
					class="btn btn-outline-dark my-2 my-sm-0 mr-3 text-uppercase">List Team Equipment</a>
			</form>
			<form class="form-inline my-2 my-lg-2">
				<a href="#"
					class="btn btn-outline-dark my-2 my-sm-0 mr-3 text-uppercase">List Team Schedule</a>
			</form>
			<form class="form-inline my-2 my-lg-2">
				<a href="#"
					class="btn btn-outline-dark my-2 my-sm-0 mr-3 text-uppercase">Team Information</a>
			</form>
			<form class="form-inline my-2 my-lg-2">
				<a href="#"
					class="btn btn-outline-dark my-2 my-sm-0 mr-3 text-uppercase">Add Tutorial</a>
			</form>
		</div>
		<div class="row">
			<form class="form-inline my-2 my-lg-2">
				<a href="#"
					class="btn btn-outline-dark my-2 my-sm-0 mr-3 text-uppercase">Add Team Member</a>
			</form>
			<form class="form-inline my-2 my-lg-2">
				<a href="#"
					class="btn btn-outline-dark my-2 my-sm-0 mr-3 text-uppercase">Add Schedule</a>
			</form>
			<form class="form-inline my-2 my-lg-2">
				<a href="#"
					class="btn btn-outline-dark my-2 my-sm-0 mr-3 text-uppercase">Add Equipment</a>
			</form>
			<form class="form-inline my-2 my-lg-2">
				<a href="#"
					class="btn btn-outline-dark my-2 my-sm-0 mr-3 text-uppercase">Add Sponsor</a>
			</form>
			<form class="form-inline my-2 my-lg-2">
				<a href="#"
					class="btn btn-outline-dark my-2 my-sm-0 mr-3 text-uppercase">Add Competition</a>
			</form>

		</div>
	</div>
</div>
{% endblock content %}